[%- DEFAULT css_location='css/sporx.css' -%]
[%- DEFAULT javascript_runtime='lib/sporx.js' -%]
[%- DEFAULT jquery_path='lib/jquery.js' -%]
[%- DEFAULT license_template='template/license.html' -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/sporx.css" rel="stylesheet" type="text/css" />
    <script src="lib/jquery.js"></script>
    <script src="lib/sporx.js"></script>

  </head>
  <body>
    <header role="header" class="logo">
    </header>
      <div>
    <div id="toolbar">

      <!--div class="fr">
        <button onclick="Sporx.addPage()">New Page</button>
        <button onclick="Sporx.toggleEditMode()">Edit</button>
        <button onclick="Sporx.reload()">Reload</button>
      </div-->

      <div>
        <button class="to-dark" onclick="sporx.toggleColor(this)">Color</button>
        <button onclick="sporx.printPdf()">pdf</button>
        <button onclick="sporx.firstSlide()">|&lt;&lt;</button>
        <button onclick="sporx.prevSlide()">&lt;</button>
        <button onclick="sporx.nextSlide()">&gt;</button>
        <button onclick="sporx.lastSlide()">&gt;&gt;|</button>
        <input type="text" id="current_page" size="4" onkeypress="if (this.value) sporx.showSlide(parseInt(this.value)-1);" />
        /
        <span id="max-page"></span>
      </div>
    </div>
    </div>
    <div id="canvas"><div id="content"></div></div>
    <!-- <iframe style="display:none;" id="dataLoader"></iframe>
    <div id="edit">
      <textarea id="textField"></textarea>
    </div> -->
    <div id="progress"><span></span></div>
    <aside class="controls">
      <button class="previous" onclick="sporx.prevSlide()">
        <div class="controls-arrow"></div>
      </button>
      <button class="next" onclick="sporx.nextSlide()">
        <div class="controls-arrow"></div>
      </button>
    </aside>
    <textarea id="builtin-code" style="display: none;">
[%- slides_content -%]
</textarea>
  </body>
</html>
[% INCLUDE $license_template %]

